body{
  background-color: azure ;
    text-align: center;
    
}
h1{
    color: black;
}
img{
    text-align: center;
    width: 400px;
    
}
h3{
    font-size: 20px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 20px;
}
